html {
    scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input {

    text-align: center;
}

::placeholder {
    text-align: center;
}

/* or, for legacy browsers */

::-webkit-input-placeholder {
    text-align: center;
}

.pangkat {
    width: 25px;
    height: 25px;
    font-size: 16px;
}

.pangkat2 {
    width: 40px;
    height: 25px;
    font-size: 16px;
}

.input {
    width: 35px;
    height: 30px;
}


.input1 {
    width: 40px;
    height: 30px;
}

.input2 {
    width: 50px;
    height: 30px;
}

.input3 {
    width: 130px;
    height: 30px;
}


.border-bottom-mint {
    border-bottom: 0.25rem solid#0f8258 !important;
}

.bg_buku {
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: fixed;
    background-position: right 30px;

}

.bg_orang {
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: left 30px;
}

.text-purple {
    color: #3A1078 !important;

}

.text-hitam {
    color: #000000 !important;
}

.text-merah {
    color: #C01B1B !important;
}

.bg-purple {
    background-color: #3A1078 !important;
}

.bg-red {
    background-color: #FE99AF !important;
}

.bg-biru {
    background-color: #71d2e1 !important;
}

.bg-ungu {
    background-color: #4E31AA !important;
}

.bg-indigo {
    background-color: #695aa6 !important;
}

.btn-ungu {
    background-color: #4E31AA !important;
}

.border-purple {
    border-color: #3A1078 !important
}

.btn-outline-ungu {
    color: #4E31AA;
    border-color: #4E31AA;
}

.btn-outline-ungu:hover {
    color: #fff;
    background-color: #4E31AA;
    border-color: #4E31AA;
}

.btn-outline-ungu:focus,
.btn-outline-ungu.focus {
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.5);
}

.btn-outline-ungu.disabled,
.btn-outline-ungu:disabled {
    color: #4E31AA;
    background-color: transparent;
}

.btn-outline-ungu:not(:disabled):not(.disabled):active,
.btn-outline-ungu:not(:disabled):not(.disabled).active,
.show>.btn-outline-ungu.dropdown-toggle {
    color: #fff;
    background-color: #4E31AA;
    border-color: #4E31AA;
}

.btn-outline-ungu:not(:disabled):not(.disabled):active:focus,
.btn-outline-ungu:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-ungu.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.5);
}

.prg {
    text-align: justify;
    text-indent: 0.5in;
}

.isimateri {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: candara;
    font-size: 18px;
    line-height: 1.5;
    padding: 2%;
    text-align: justify;
    float: left;
    color: black;
}

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}

.thick {
    font-weight: bold;
}

.frac>span {
    display: block;
    padding: 0.1em;
}

.frac span.bottom {
    border-top: thin solid black;
}

.frac span.symbol {
    display: none;
}

.bord {
    border: 2px solid #3A1078;
    padding-bottom: 10px;
}

.bord2 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 60px;
}

.bord3 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 100%;
    height: 480px;
}

.bord4 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 60px;
}

.bord5 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 60px;
}

ul.circle {
    list-style-type: circle;
}

.note {
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}

.next_pensil {
    background-color: #4E31AA !important;
    padding: 1px;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid #4E31AA !important;
    border-radius: 5px;
    cursor: pointer;
}

.next_pensil:hover {
    background-color: #3A1078 !important;
    color: #3A1078 !important;
}

.hilang,
.hilang1 {
    display: none !important;
}

.masuk {
    margin-left: 13px;
}

.aau {
    font-weight: bold;
    margin-left: 55px !
}

.la2 {
    margin-left: 30px;
}

.inline {
    display: inline-block;
    margin-left: 0.66vw;
}

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}

.frac>span {
    display: block;
    padding: 0.1em;
}

.frac span.bottom {
    border-top: thin solid black;
}

.frac span.symbol {
    display: none;
}

.isiconth {
    border: 2px solid black;
    padding: 8px;
    width: 90%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4E31AA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}